.poster {
  width: 16rem;
  height: 26rem;
}

.poster > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.poster:hover > .poster-details {
  display: block !important;
}

.poster:hover > .poster-details-bg {
  display: block !important;
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}

.searchbox {
  height: 3rem;
  font-size: larger;
  border: none;
}

.searchbox:focus {
  outline: none;
}

.suggestion-box:focus-within,
.suggestion-box:hover {
  transform: scale(1.005);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.suggestion-box {
  background-color: white !important;
  transition: all 0.25s ease-in-out !important;
  z-index: 1 !important;
}

.router-link {
  text-decoration: none !important;
  font-size: larger;
}
.router-link:hover {
  background-color: rgb(233, 233, 233);
  font-size: larger;
}

.seat-btn {
  width: 1.8rem;
  height: 1.8rem;
  font-size: small;
  font-weight: 600;
  text-align: center;
}

.seat-btn:focus {
  box-shadow: none !important;
}

button:disabled {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: white !important;
}

.seat-map::-webkit-scrollbar {
  display: none !important;
}

.seat-map {
  min-width: 1024px !important;
  overflow-y: scroll;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
